body {
  /*display: flex;*/
}
#container {
  display: flex;
  justify-content: center;
}
#sudokuGrid {
  text-align: center;
  display: grid;
  grid-template-columns: 120px 120px 120px;
  grid-template-rows: 120px 120px 120px;
  justify-content: center;
}
.miniGrid {
  text-align: center;
  display: grid;
  grid-template-columns: 40px 40px 40px;
  grid-template-rows: 40px 40px 40px;
}
.miniGrid:nth-of-type(2n + 1) {
  background: lightgrey;
}
.miniGrid:nth-of-type(2n) {
  background: grey;
}
.cell {
  border: 1px solid black;
}

#rightMenu {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}
#newGameBtn {
  margin-bottom: 20px;
}