#sudokuGrid {
  text-align: center;
  display: grid;
  grid-template-columns: 360px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px;
}
.miniGrid {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  display: grid;
  color: blue;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-template-rows: 40px;
}
.cell {
  border: 1px solid black;
}

#rightMenu {
  margin: 50px;
  display: flex;
  flex-direction: column;
}
#rightGrid {
  text-align: center;
  display: grid;
  grid-template-columns: 40px 40px 40px;
  grid-template-rows: 40px 40px 40px;
}
#rightGrid > .cell {
  background: red;
}
#newGameBtn {
  margin-bottom: 20px;
}
#submitBtn {
  margin-top: 20px;
}

#finalAnsDiv {
  text-align: center;
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  justify-content: center;
  font-size: 20px;
  margin-top: 10px;
}
