body {
  /*display: flex;*/
}
#container {
  display: flex;
  justify-content: center;
}
#sudokuGrid {
  text-align: center;
  display: grid;
  grid-template-columns: 360px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px;
}
.miniGrid {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  display: grid;
  color: blue;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  grid-template-rows: 40px;
}
.lightGrey {
  background: darkgrey;
}
.grey {
  background: white;
}
.cell {
  border: 1px solid black;
}

#rightMenu {
  /*background: blue;*/
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}
#rightGrid {
  text-align: center;
  display: grid;
  grid-template-columns: 40px 40px 40px;
  grid-template-rows: 40px 40px 40px;
}
#rightGrid > .cell {
  background: red;
}
#newGameBtn {
  margin-bottom: 20px;
}
#submitBtn {
  margin-top: 20px;
}